In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = 'originalData'

In [3]:
#Import the “orders_products_prior.csv” file into Jupyter
df_orders_prior = pd.read_csv(os.path.join(path, 'orders_products_prior.csv'))

In [4]:
 newpath = 'PreparedData'

In [15]:
#Import the “orders_wrangled.csv” file into Jupyter
df_ords = pd.read_csv(os.path.join(newpath,'orders_wrangled.csv'))

In [8]:
# çheck the output
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
# çheck the output
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [17]:
df_orders_prior.shape

(32434489, 4)

In [18]:
df_ords.shape

(3421083, 8)

In [20]:
df_merged_large = df_ords.merge(df_orders_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
newpath = prepared

In [26]:
df_merged_large.to_pickle(os.path.join(newpath, 'orders_products_combined.pkl'))