In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 3.Import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
 newpath = 'PreparedData'

In [3]:
#Import the “orders_products_wrangled.csv” file into Jupyter
orders_products_combined_df = pd.read_pickle(os.path.join(newpath,'orders_products_combined.pkl'))

#4.Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [6]:
orders_products_combined_df.shape

(32434489, 12)

# 5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [8]:
 newpath = 'PreparedData'

In [10]:
#Import the “products_checked.csv” file into Jupyter
products_checked_df = pd.read_csv(os.path.join(newpath,'products_checked.csv'))

In [11]:
products_checked_df.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [4]:
orders_products_combined_df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# A suitable way to merge the two dataframes products_checked_df and orders_products_combined_df is by the column product_id, found in both dataframes

In [ ]:
#Merging the ords_prods_combined df with the df_prods via the product_id column

In [14]:
 orders_products_merged_df = orders_products_combined_df.merge(products_checked_df, on = 'product_id')

In [15]:
orders_products_merged_df.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [17]:
#Checking the values in the _merge column
orders_products_merged_df['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [18]:
#Checking the merged shape
orders_products_merged_df.shape

(32404859, 17)

#7 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [ ]:
#Exporting the newly merged dataframe; Using pickle format
newpath = prepared

In [22]:
orders_products_merged_df.to_pickle(os.path.join(newpath, 'orders_products_merged.pkl'))